/* Container */
.bus-search-container {
  display: flex;
  border-radius: 20px;
  background-color: #fff;
  height: 190px;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  width: 90%;
  max-width: 1100px;
  font-family: "Segoe UI", sans-serif;
}

.bus-search-container form {
  width: 100%;

}

/* Title */
.bus-search-container h5 {
  font-size: 20px;
  font-weight: 600;
  color: #222;
  margin-bottom: 20px;
}

/* Form fields container */
.bus-ticket-form {
  display: grid;
  margin-top: 15px;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  padding: 20px;
  border-radius: 16px;
  align-items: center;
}

/* Input boxes styling */
.bus-ticket-form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #fafafa;
  min-height: 80px;
  transition: all 0.3s ease;
}

.bus-ticket-form > div:hover {
  border-color: #0078ff;
  background: #fff;
  box-shadow: 0px 4px 12px rgba(0, 120, 255, 0.12);
}

/* Labels */
.bus-ticket-form span:first-child {
  font-size: 12px;
  font-weight: 500;
  color: #666;
  margin-bottom: 5px;
}

/* Secondary hint (like country or day) */
.bus-ticket-form span:last-child {
  font-size: 12px;
  color: #999;
  margin-top: 4px;
}

/* Inputs */
.bus-ticket-form input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  color: #222;
  height: 28px;
}

.bus-ticket-form input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(35%) sepia(80%) saturate(200%) hue-rotate(180deg);
}

/* Search button container */
.btn-search {
  margin-top: 16px;
  display: flex;
  justify-content: center; /* align to right like MMT */
}

/* Search button styling */
.btn-search button {
  padding: 16px 30px;
  background: #140342;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}


/* Responsive layout */
@media screen and (max-width: 900px) {
  .bus-ticket-form {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .bus-ticket-form {
    grid-template-columns: 1fr;
  }
  .btn-search {
    justify-content: center;
  }
}
